__pycache__/
.coverage
.doit*
.hypothesis/
.idea/
.ipynb_checkpoints/
.pytest_cache/
.vscode/
.yarn-packages/
*.egg-info/
*.log
*.sqlite
*.sqlite
*.tgz
build/
dist/
envs/
_scripts/local/
examples/**/*.html
lib/
node_modules/
Untitled.*
.DS_Store
