__pycache__/
.coverage/
.doit*
.hypothesis/
.idea/
.ipynb_checkpoints/
.pytest-cache/
.vscode/
.yarn-packages/
*.egg-info/
*.log
*.sqlite
*.sqlite
*.tgz
build/
dist/
envs/
examples/**/*.html
lib/
node_modules/
