__pycache__/
.coverage/
.doit*
.hypothesis/
.idea/
.ipynb_checkpoints/
.mypy_cache/
.pytest-cache/
.vscode/
.yarn-packages/
*.egg-info/
*.sqlite
*.tgz
build/
dist/
envs/
lib/
node_modules/
examples/**/*.html
