on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  PYTHONUNBUFFERED: 1
  SKIP_CONDA_PREFLIGHT: 1

jobs:
  ci:
    name: CI
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    env:
      SKIP_DRAWIO: 1
    steps:
      - uses: actions/checkout@v2

      - uses: actions/cache@v1
        with:
          path: ~/conda_pkgs_dir
          key: ${{ runner.os }}-conda-${{ hashFiles('anaconda-project-lock.yml') }}
          restore-keys: |
            ${{ runner.os }}-conda-

      - uses: actions/cache@v1
        with:
          path: .yarn-packages
          key: yarn-${{ runner.os }}-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            yarn-${{ runner.os }}-
            yarn-

      - uses: goanpeca/setup-miniconda@v1.6.0
        with:
          activate-environment: ipyradiant-base
          auto-activate-base: false
          environment-file: .ci/environment.yml
          show-channel-urls: true
          use-only-tar-bz2: true

      - if: ${{ !contains(matrix.os, 'windows') }}
        shell: bash -l {0}
        run: doit -n4 release || doit release

      - if: ${{ contains(matrix.os, 'windows') }}
        shell: cmd /C CALL {0}
        run: call .ci\win.bat release

  ui:
    name: UI
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/cache@v1
        with:
          path: ~/conda_pkgs_dir
          key: ${{ runner.os }}-conda-${{ hashFiles('anaconda-project-lock.yml') }}
          restore-keys: |
            ${{ runner.os }}-conda-

      - uses: actions/cache@v1
        with:
          path: .yarn-packages
          key: yarn-${{ runner.os }}-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            yarn-${{ runner.os }}-
            yarn-

      - uses: goanpeca/setup-miniconda@v1.6.0
        with:
          activate-environment: ipyradiant-base
          auto-activate-base: false
          environment-file: .ci/environment.yml
          show-channel-urls: true
          use-only-tar-bz2: true

      - if: ${{ !contains(matrix.os, 'windows') }}
        shell: bash -l {0}
        run: doit -n4 preflight:lab || doit preflight:lab

      - if: ${{ contains(matrix.os, 'windows') }}
        shell: cmd /C CALL {0}
        run: call .ci\win.bat preflight:lab
