on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  PYTHONUNBUFFERED: 1
  SKIP_CONDA_PREFLIGHT: 1
  INSTALL_ARTIFACT: wheel

jobs:
  ci:
    name: CI
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    steps:
      - name: configure line endings
        run: |
          git config --global core.autocrlf false

      - name: git checkout
        uses: actions/checkout@v2

      - name: cache (conda)
        uses: actions/cache@v1
        with:
          path: ~/conda_pkgs_dir
          key:
            ${{ runner.os }}-conda-ci-${{ hashFiles('anaconda-project-lock.yml',
            '.ci/environment.yml') }}
          restore-keys: |
            ${{ runner.os }}-conda-ci-
            ${{ runner.os }}-conda-

      - name: cache (yarn)
        uses: actions/cache@v1
        with:
          path: .yarn-packages
          key: yarn-${{ runner.os }}-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            yarn-${{ runner.os }}-
            yarn-

      - name: env (conda)
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: ipyradiant-base
          auto-activate-base: false
          environment-file: .ci/environment.yml
          show-channel-urls: true
          use-only-tar-bz2: true

      - name: build (linux/macos)
        if: ${{ !contains(matrix.os, 'windows') }}
        shell: bash -l {0}
        run: INSTALL_ARTIFACT=sdist doit -n4 release || doit release

      - name: build (windows)
        if: ${{ contains(matrix.os, 'windows') }}
        shell: cmd /C CALL {0}
        run: call .ci\win.bat release

      - name: publish (linux)
        if: ${{ contains(matrix.os, 'ubuntu') }}
        uses: actions/upload-artifact@v2
        with:
          name: ipyradiant dist ${{ github.run_number }}
          path: ./dist

  ui:
    name: UI
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    steps:
      - name: configure line endings
        run: |
          git config --global core.autocrlf false

      - name: git checkout
        uses: actions/checkout@v2

      - name: cache (conda)
        uses: actions/cache@v1
        with:
          path: ~/conda_pkgs_dir
          key: ${{ runner.os }}-conda-ui-${{ hashFiles('anaconda-project-lock.yml') }}
          restore-keys: |
            ${{ runner.os }}-conda-ui-
            ${{ runner.os }}-conda-

      - name: cache (yarn)
        uses: actions/cache@v1
        with:
          path: .yarn-packages
          key: yarn-${{ runner.os }}-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            yarn-${{ runner.os }}-
            yarn-

      - name: env (conda)
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: ipyradiant-base
          auto-activate-base: false
          environment-file: .ci/environment.yml
          show-channel-urls: true
          use-only-tar-bz2: true

      - name: dev (linux/macos)
        if: ${{ !contains(matrix.os, 'windows') }}
        shell: bash -l {0}
        run: doit -n4 preflight:lab || doit preflight:lab

      - name: dev (windows)
        if: ${{ contains(matrix.os, 'windows') }}
        shell: cmd /C CALL {0}
        run: call .ci\win.bat preflight:lab
