on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  PYTHONUNBUFFERED: 1
  SKIP_CONDA_PREFLIGHT: 1
  INSTALL_ARTIFACT: wheel
  CONDA_EXE: mamba
  FORGE_BASE: https://github.com/conda-forge/miniforge/releases/download/4.9.2-5/Mambaforge-4.9.2-5

jobs:
  ci:
    name: CI
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu
          - macos
          - windows
        include:
          - os: ubuntu
            miniforge: Linux-x86_64.sh
          - os: macos
            miniforge: MacOSX-x86_64.sh
          - os: windows
            miniforge: Windows-x86_64.exe
    steps:
      - name: configure line endings
        run: |
          git config --global core.autocrlf false

      - name: git checkout
        uses: actions/checkout@v2

      - name: cache (conda)
        uses: actions/cache@v1
        with:
          path: ~/conda_pkgs_dir
          key:
            ${{ runner.os }}-conda-ci-${{ hashFiles('anaconda-project-lock.yml',
            '.ci/environment.yml') }}
          restore-keys: |
            ${{ runner.os }}-conda-ci-
            ${{ runner.os }}-conda-

      - name: cache (yarn)
        uses: actions/cache@v1
        with:
          path: .yarn-packages
          key: yarn-${{ runner.os }}-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            yarn-${{ runner.os }}-
            yarn-

      - name: env (conda)
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: ipyradiant-base
          auto-activate-base: false
          condarc-file: .github/.condarc
          environment-file: .ci/environment.yml
          installer-url: ${{ env.FORGE_BASE }}-${{ matrix.miniforge }}
          show-channel-urls: true
          use-only-tar-bz2: true

      - name: build (linux/macos)
        if: ${{ matrix.os != 'windows' }}
        shell: bash -l {0}
        run: INSTALL_ARTIFACT=sdist doit -n4 release || doit release

      - name: build (windows)
        if: ${{ matrix.os == 'windows' }}
        shell: cmd /C CALL {0}
        run: call .ci\win.bat release

      - name: publish build (linux)
        if: ${{ matrix.os == 'ubuntu' }}
        uses: actions/upload-artifact@v2
        with:
          name: ipyradiant dist ${{ github.run_number }}
          path: ./dist

      - name: publish coverage (linux)
        if: ${{ matrix.os == 'ubuntu' }}
        uses: actions/upload-artifact@v2
        with:
          name: ipyradiant coverage ${{ github.run_number }}
          path: ./build/htmlcov

  ui:
    name: UI
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu
          - macos
          - windows
        include:
          - os: ubuntu
            miniforge: Linux-x86_64.sh
          - os: macos
            miniforge: MacOSX-x86_64.sh
          - os: windows
            miniforge: Windows-x86_64.exe
    steps:
      - name: configure line endings
        run: |
          git config --global core.autocrlf false

      - name: git checkout
        uses: actions/checkout@v2

      - name: cache (conda)
        uses: actions/cache@v1
        with:
          path: ~/conda_pkgs_dir
          key: ${{ runner.os }}-conda-ui-${{ hashFiles('anaconda-project-lock.yml') }}
          restore-keys: |
            ${{ runner.os }}-conda-ui-
            ${{ runner.os }}-conda-

      - name: cache (yarn)
        uses: actions/cache@v1
        with:
          path: .yarn-packages
          key: yarn-${{ runner.os }}-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            yarn-${{ runner.os }}-
            yarn-

      - name: env (conda)
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: ipyradiant-base
          auto-activate-base: false
          condarc-file: .github/.condarc
          environment-file: .ci/environment.yml
          installer-url: ${{ env.FORGE_BASE }}-${{ matrix.miniforge }}
          show-channel-urls: true
          use-only-tar-bz2: true

      - name: dev (linux/macos)
        if: ${{ matrix.os != 'windows' }}
        shell: bash -l {0}
        run: doit -n4 preflight:lab || doit preflight:lab

      - name: dev (windows)
        if: ${{ matrix.os == 'windows' }}
        shell: cmd /C CALL {0}
        run: call .ci\win.bat preflight:lab
